body {
    min-height: 100vh;
    background-color: #ebf8ff;
    overflow-y: hidden;
    text-align: center;
}
header{
    background-color: #2c5282;
    min-height: 5vh;
    color: white;
    font-size: 4vh;
}
footer{
    background-color: #2c5282;
    min-height: 4vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2.5vh;
    color: white;
}
.upload-button {
    margin: 10px 0 25px 0;

    button {
        box-shadow: 0 3px 0 0 #2c5282;
        border-radius: 4px;
        background-color: white;
        border: none;
        min-width: 10%;
        width: auto;
    }
    .upload-icon {
        height: 15px;
        color: #2c5282;

    }
    label {
        cursor: pointer;
        width: 80%;
        height: 100%;
        font-size: 80%;
        font-weight: bold;
        color: #2c5282;
    }
}

.images {
    margin-bottom: 3%;
    height: 40vh;
}
.uploads{
    background-color: white;
    height: 100%;
    border-radius: 8px;

    .preview-image {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 85%;
    }

    p {
        color: #4299e1;
        font-size: 3vh;
        margin-top: 6px;
    }
}